/* Hero Section */
.hero-section {
    display: flex;
    justify-content: space-between; /* Move elements to the sides */
    align-items: center;
    padding: 50px; /* Adjust padding as necessary */
    background-color: #eae7e8ea; /* Example background color */
    background-image: url('../../assets/Cancer.webp'); /* If you have a background image */
    background-size: cover;
    background-position: center;
    height: 500px;
  }

  a {
    text-decoration: none;
  }
  
  .hero-content {
    max-width: 500px;
    text-align: left; /* Align text to the right */
    margin-right: auto; /* Move the content to the right */
    color: #333; /* Adjust text color */
  }
  .hero-content h1 {
    font-size: 3rem;
    color: #ff69b4;
    font-family: 'poppins';
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin: 20px 0;
    font-family: 'poppins';
    text-align: left;
  }

  span{
    color: #69beff;
  }
  
  .ribbon {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .donate-button {
    display: inline-block;
    background-color: #ff69b4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-right: 150px;
  }
  
  .donate-button:hover {
    background-color: #ff85c5;
  }
  
  .hero-image img {
    max-width: 800px;
    border-radius: 5px;
  }
  
  /* Info Cards Section */
  .info-section {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #fbf7f9;
  }
  
  .info-card {
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 22%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .info-card img {
    width: 50px;
    margin-bottom: 20px;
  }
  
  .info-card h3 {
    color: #ff69b4;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .info-card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
    font-family: 'poppins';
  }
  
  .info-card a {
    color: #ff69b4;
    font-weight: bold;
  }
  
  .info-card a:hover {
    color: #ff85c5;
  }

  .icon-container {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #69beff; /* Pink color for the icon */
    display: flex;
    align-items: center;
    padding-left: 80px;
  }
  
  .icon-container img {
    margin-right: 10px; /* Space between the icon and the text */    
  }
  
  .icon-container:hover img {
    color: #ff85c5; /* Change icon color on hover */
  }
  
  .icon-container:hover {
    text-decoration: underline; /* Underline the text when hovered */
  }
  
  
  /* Footer */
  .footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    color: #333;
  }
  