@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
ul {
    list-style: none;
}

.navbar p {
    text-decoration: none;
    color: rgb(107, 211, 242);
}


.navbar {
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #f1f1f1;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ff69b4;
    padding-left: 70px;
    padding-top: 10px;
    background-color: #f1f1f1;
    opacity: 0.8;
    border-radius: 50px;
    width: 180px;
    height: 70px;
    cursor: pointer;
}

.logo img{
    height:200px;
    width:auto;
    position: fixed;
    bottom: 74%;
    left: 9px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.logo span{
    color: #3971BF;
  }

.nav-links p {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(10, 187, 241);
    cursor: pointer;
}

.nav-links p:hover {
    background-color: #ff69b4;
    color: white;
    border-radius: 5px;
    border-radius: 20px;
}

#quiz-link {
    color: gray;
    cursor: not-allowed;
}

#blog-link{
    color: gray;
    cursor: not-allowed;
}

@media screen and (max-width: 768px) {
    .navbar {
      padding: 10px 20px;
    }
  
    .logo {
      width: 150px;
      height: 50px;
      font-size: 1.2rem;
    }

    .logo img{
        height:148px;
        width:auto;
        position: fixed;
        bottom: 79.5%;
        left: 9px;
    }
  
    .nav-links {
      gap: 10px;
    }
  
    .nav-links a {
      padding: 5px 10px;
      font-size: 0.9rem;
    }
  }  

  @media screen and (max-width: 1024px){
    .logo img{
        height:154px;
        width:auto;
        position: fixed;
        bottom: 80.5%;
        left: 9px;
    }
  }

  @media screen and (max-width: 540px){
    .logo img{
        height:144px;
        width:auto;
        position: fixed;
        bottom: 84%;
        left: 9px;
    }
    .nav-links {
        gap: 5px;
      }
    
      .nav-links a {
        padding: 5px 10px;
        font-size: 0.7rem;
      }
      .logo {
        width: 140px;
        height: 50px;
        font-size: 1rem;
      }
  }

  @media screen and (max-width: 820px){
    .logo img{
        height:154px;
        width:auto;
        position: fixed;
        bottom: 88%;
        left: 9px;
    }
    .nav-links a {
        padding: 5px 10px;
        font-size: 1rem;
      }
  }