.examination-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("../../assets/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.examination-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.examination-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.examination-steps div{
    display: inline-block;
    border: 1px solid ;
}